<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- Titre de la page  -->
    <title>Dashboard - Rentabilité Check</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" th:href="@{/css/dashlite.css}">
</head>

<body class="nk-body ui-rounder has-sidebar ">
<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- sidebar @s -->
        <!-- inclusion du sidebar -->
        <div th:replace="fragments/sidebar::sidebar"></div>
        <!-- sidebar @e -->
        <!-- wrap @s -->
        <div class="nk-wrap ">
            <!-- main header @s -->
            <div class="nk-header is-light nk-header-fixed is-light">
                <div class="container-xl wide-xl">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ms-n1 me-3">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em
                                    class="icon ni ni-menu"></em></a>
                        </div>
                        <div th:replace="fragments/header-menu::header-menu"></div>
                        <!-- inclusion du tools pour afficher les information de l'utilisateur -->
                        <div th:replace="fragments/header-tools::header-tools"></div>
                    </div><!-- .nk-header-wrap -->
                </div><!-- .container-fliud -->
            </div>
            <!-- main header @e -->
            <!-- content @s -->
            <div class="nk-content nk-content-fluid">
                <div class="container-xl wide-xl">
                    <div class="nk-content-body">
                        <div class="nk-block-head nk-block-head-sm">
                            <div class="nk-block-between">
                                <div class="nk-block-head-content">
                                    <h3 class="nk-block-title page-title">Ma Dashboard</h3>
                                    <div class="nk-block-des text-soft">
                                        <p>Bienvenue au Rentabilité Check Dashboard</p>
                                    </div>
                                </div><!-- .nk-block-head-content -->
                                <div class="nk-block-head-content">
                                    <div class="toggle-wrap nk-block-tools-toggle">
                                        <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                           data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                        <div class="toggle-expand-content" data-content="pageMenu">
                                            <ul class="nk-block-tools g-3">
                                                <li>
                                                    <a href="/projets" class=" btn btn-primary btn-dim">
                                                        <em class="icon ni ni-plus"></em><span><span
                                                            class="d-md-none">Ajouter</span><span class="d-none d-md-block">Ajouter Projet</span></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- .nk-block-head-content -->
                            </div><!-- .nk-block-between -->
                        </div><!-- .nk-block-head -->
                        <div class="nk-block">
                            <div class="row g-gs">
                                <div class="col-sm-6 col-xxl-3">
                                    <div class="card card-full bg-primary">
                                        <div class="card-inner">
                                            <div class="d-flex align-items-center justify-content-between mb-1">
                                                <div class="fs-6 text-white text-opacity-75 mb-0">Projets disponible
                                                </div>
                                                <a th:href="@{/projets}" class="link link-white">Voir Tout</a>
                                            </div>
                                            <h5 class="fs-1 text-white">
                                                <span th:text="${projets}"></span>
                                                <small class="fs-3">Projets</small></h5>
                                            <div class="fs-7 text-white text-opacity-75 mt-1">Que vous avez ajouté</div>
                                        </div>
                                    </div><!-- .card -->
                                </div><!-- .col -->
                                <div class="col-sm-6 col-xxl-3">
                                    <div class="card card-full bg-success is-dark">
                                        <div class="card-inner">
                                            <div class="d-flex align-items-center justify-content-between mb-1">
                                                <div class="fs-6 text-white text-opacity-75 mb-0">Projets Rentables
                                                </div>
                                            </div>
                                            <h5 class="fs-1 text-white">3 <small class="fs-3">Projets</small></h5>
                                            <div class="fs-7 text-white text-opacity-75 mt-1">Sont des projet rentable
                                            </div>
                                        </div>
                                    </div><!-- .card -->
                                </div><!-- .col -->
                                <div class="col-sm-6 col-xxl-3">
                                    <div class="card card-full bg-info is-dark">
                                        <div class="card-inner">
                                            <div class="d-flex align-items-center justify-content-between mb-1">
                                                <div class="fs-6 text-white text-opacity-75 mb-0">Investissements</div>
                                                <a th:href="@{investissement}" class="link link-white">Voir Tout</a>
                                            </div>
                                            <h5 class="fs-1 text-white">
                                                <span th:text="${investissements}"></span>
                                                <small class="fs-3">Investissements</small>
                                            </h5>
                                            <div class="fs-7 text-white text-opacity-75 mt-1">Est le montant investi
                                            </div>
                                        </div>
                                    </div><!-- .card -->
                                </div><!-- .col -->
                                <div class="col-sm-6 col-xxl-3">
                                    <div class="card card-full bg-danger is-dark">
                                        <div class="card-inner">
                                            <div class="d-flex align-items-center justify-content-between mb-1">
                                                <div class="fs-6 text-white text-opacity-75 mb-0">Projets Non Rentable
                                                </div>
                                            </div>
                                            <h5 class="fs-1 text-white">12 <small class="fs-3">Projets</small></h5>
                                            <div class="fs-7 text-white text-opacity-75 mt-1">Sont des projets non
                                                rentable
                                            </div>
                                        </div>
                                    </div><!-- .card -->
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .nk-block -->
                        <div class="nk-block">
                            <div class="row g-gs">
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="card-title-group">
                                                <div class="card-title">
                                                    <h6 class="title">Investissements par Projet</h6>
                                                </div>
                                            </div>
                                            <div class="nk-ck">
                                                <canvas class="doughnut-chart" id="doughnutChartData"></canvas>
                                            </div>
                                        </div>
                                    </div><!-- .card-preview -->
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .nk-block -->
                    </div>
                </div>
            </div>
            <!-- content @e -->
            <!-- footer @s -->
            <div th:replace="fragments/footer::footer"></div>
            <!-- footer @e -->
        </div>
        <!-- wrap @e -->
    </div>
    <!-- main @e -->
</div>
<!-- app-root @e -->
<!-- select region modal -->
<!-- JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>
<script type="text/javascript" th:src="@{/js/bundle.js}"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
<script type="text/javascript" th:src="@{/js/dashboard.js}"></script>
</body>
</html>