<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- Titre de la page  -->
    <title>Investissement - Rentabilité Check</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" th:href="@{/css/dashlite.css}">
</head>

<body class="nk-body ui-rounder has-sidebar ">
<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- sidebar @s -->
        <!-- inclusion du sidebar -->
        <div th:replace="~{fragments/sidebar::sidebar}"></div>
        <!-- sidebar @e -->
        <!-- wrap @s -->
        <div class="nk-wrap ">
            <!-- main header @s -->
            <div class="nk-header is-light nk-header-fixed is-light">
                <div class="container-xl wide-xl">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ms-n1 me-3">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em
                                    class="icon ni ni-menu"></em></a>
                        </div>
                        <div th:replace="fragments/header-menu::header-menu"></div>
                        <!-- inclusion du tools pour afficher les information de l'utilisateur -->
                        <div th:replace="fragments/header-tools::header-tools"></div>
                    </div><!-- .nk-header-wrap -->
                </div><!-- .container-fliud -->
            </div>
            <!-- main header @e -->
            <!-- content @s -->
            <div class="nk-content nk-content-fluid">
                <div class="container-xl wide-xl">
                    <div class="nk-content-body">
                        <div class="nk-block-head nk-block-head-sm">
                            <div class="nk-block-between">
                                <div class="nk-block-head-content">
                                    <h3 class="nk-block-title page-title">Mes Investissements</h3>
                                    <div class="nk-block-des text-soft">
                                        <p>La liste de vos investissements</p>
                                    </div>
                                </div><!-- .nk-block-head-content -->
                                <div class="nk-block-head-content">
                                    <div class="toggle-wrap nk-block-tools-toggle">
                                        <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                           data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                        <div class="toggle-expand-content" data-content="pageMenu">
                                            <ul class="nk-block-tools g-3">
                                                <li>
                                                    <form action="">
                                                        <select class="form-select js-select2" name="projet"
                                                                data-search="on" id="filterInvByProjet"
                                                                onchange="filterInvestByProjet()">
                                                            <option value="0">Afficher Tout</option>
                                                            <option th:each="projet : ${projets}"
                                                                    th:value="${projet.idProjet}"
                                                                    th:text="${projet.nom}"></option>
                                                        </select>
                                                    </form>
                                                </li>
                                                <li>
                                                    <button data-bs-toggle="modal"
                                                            onclick="projetsSelect('projet')"
                                                            data-bs-target="#AjoutInvestissementModal"
                                                            class="dropdown-toggle btn btn-primary btn-dim">
                                                        <em class="icon ni ni-plus"></em>
                                                        <span>
                                                            <span class="d-md-none">Ajouter</span>
                                                            <span class="d-none d-md-block">Ajouter Investissement</span>
                                                        </span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- .nk-block-head-content -->
                            </div><!-- .nk-block-between -->
                        </div><!-- .nk-block-head -->
                        <div class="nk-block">
                            <div class="row g-gs">
                                <div class="card card-preview">
                                    <div class="card-inner">
                                        <table class="datatable-init table">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Montant</th>
                                                <th>Durée</th>
                                                <th>Taux d'actualisation</th>
                                                <th>Intitulé</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbody">
                                            <tr th:each="investissement : ${investissements}">
                                                <td th:text="${investissement.id}"></td>
                                                <td th:text="${investissement.montantINV}"></td>
                                                <td th:text="${investissement.dureeINV}"></td>
                                                <td th:text="${investissement.tauxActualisation}"></td>
                                                <td th:text="${investissement.intitule}"></td>
                                                <td>
                                                    <ul class="nk-tb-actions gx-1">
                                                        <li>
                                                            <div class="drodown">
                                                                <a href="#"
                                                                   class="dropdown-toggle btn btn-sm btn-icon btn-trigger"
                                                                   data-bs-toggle="dropdown"><em
                                                                        class="icon ni ni-more-h"></em></a>
                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <ul class="link-list-opt no-bdr">
                                                                        <li>
                                                                            <a href="#"
                                                                               th:attr="onclick='updateInvestissement(' + ${investissement.id} + ',' + ${investissement.projet.idProjet}+ ')'">
                                                                                <em class="icon ni ni-pen-alt-fill"></em>
                                                                                <span>Modifier</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a th:href="@{'/supprimer-investissement?id=' + ${investissement.id}}">
                                                                                <em class="icon ni ni-trash-fill"></em>
                                                                                <span>Supprimer</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- .row -->
                        </div><!-- .nk-block -->
                    </div>
                </div>
            </div>
            <!-- content @e -->
            <!-- footer @s -->
            <div th:replace="~{fragments/footer::footer}"></div>
            <!-- footer @e -->
        </div>
        <!-- wrap @e -->
    </div>
    <!-- main @e -->
</div>
<!-- app-root @e -->
<!-- select region modal -->
<!-- JavaScript -->
<script type="text/javascript" th:src="@{/js/bundle.js}"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
<script type="text/javascript" th:src="@{/js/investissement.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>
<script src="https://www.unpkg.com/zod/lib/index.umd.js"></script>
</body>
</html>


<div class="modal fade" id="AjoutInvestissementModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter un investissement</h5>
                <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <form class="form-validate is-alter" id="AjoutInvestissementForm">

                    <div class="form-group">
                        <label class="form-label" for="montantINV">Le montant de l'investissment</label>
                        <div class="form-control-wrap">
                            <input type="number" class="form-control" id="montantINV" name="montantINV"
                                   placeholder="Entrer le montant">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="dureeINV">La durée</label>
                        <div class="form-control-wrap">
                            <input type="number" class="form-control" id="dureeINV" name="dureeINV"
                                   placeholder="Entrer la durée">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="tauxActualisation">Le taux d'actualisation</label>
                        <div class="form-control-wrap">
                            <input type="number" class="form-control" id="tauxActualisation" name="tauxActualisation"
                                   placeholder="Entrer le taux d'actualisation">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="intitule">Intitulé d'Investissement</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" id="intitule" name="intitule"
                                   placeholder="Entrer liintitulé de l'investissement">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="projet">Projet</label>
                        <div class="form-control-wrap">
                            <select class="form-select js-select2" name="projet" data-search="on" id="projet">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <button role="button" onclick="insererInvestissement()" class="btn btn-lg btn-primary">
                            Enregistrer les Informations
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UpdateInvestissementModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier un investissement</h5>
                <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <form class="form-validate is-alter" id="UpdateInvestissementForm">

                    <div class="form-group">
                        <label class="form-label" for="montantINVUpdate">Le montant de l'investissment</label>
                        <div class="form-control-wrap">
                            <input type="number" class="form-control" id="montantINVUpdate" name="montantINV"
                                   placeholder="Entrer le montant">
                            <input type="number" hidden name="id" id="id">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="dureeINVUpdate">La durée</label>
                        <div class="form-control-wrap">
                            <input type="number" class="form-control" id="dureeINVUpdate" name="dureeINV"
                                   placeholder="Entrer la durée">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="tauxActualisationUpdate">Le taux d'actualisation</label>
                        <div class="form-control-wrap">
                            <input type="number" class="form-control" id="tauxActualisationUpdate"
                                   name="tauxActualisation"
                                   placeholder="Entrer le taux d'actualisation">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="intituleUpdate">Intitulé d'Investissement</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" id="intituleUpdate" name="intitule"
                                   placeholder="Entrer liintitulé de l'investissement">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="projetUpdate">Le taux d'actualisation</label>
                        <div class="form-control-wrap">
                            <select class="form-select js-select2" name="projet" data-search="on" id="projetUpdate">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <button role="button" onclick="applyupdateInvestissement()" class="btn btn-lg btn-primary">
                            Enregistrer les Modifications
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>