<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- Titre de la page  -->
    <title>Projets - Rentabilité Check</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" th:href="@{/css/dashlite.css}">
</head>

<body class="nk-body ui-rounder has-sidebar ">
<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- sidebar @s -->
        <!-- inclusion du sidebar -->
        <div th:replace="fragments/sidebar::sidebar"></div>
        <!-- sidebar @e -->
        <!-- wrap @s -->
        <div class="nk-wrap ">
            <!-- main header @s -->
            <div class="nk-header is-light nk-header-fixed is-light">
                <div class="container-xl wide-xl">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ms-n1 me-3">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em
                                    class="icon ni ni-menu"></em></a>
                        </div>
                        <!-- inclusion du tools pour afficher les information de l'utilisateur -->
                        <div th:replace="fragments/header-tools::header-tools"></div>
                    </div><!-- .nk-header-wrap -->
                </div><!-- .container-fliud -->
            </div>
            <!-- main header @e -->
            <!-- content @s -->
            <div class="nk-content nk-content-fluid">
                <div class="container-xl wide-xl">
                    <div class="nk-content-body">
                        <div class="nk-block-head nk-block-head-sm">
                            <div class="nk-block-between">
                                <div class="nk-block-head-content">
                                    <h3 class="nk-block-title page-title">Mes Projets</h3>
                                    <div class="nk-block-des text-soft">
                                        <p>La liste de vos projet sur la platforme</p>
                                    </div>
                                </div><!-- .nk-block-head-content -->
                                <div class="nk-block-head-content">
                                    <div class="toggle-wrap nk-block-tools-toggle">
                                        <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                           data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                        <div class="toggle-expand-content" data-content="pageMenu">
                                            <ul class="nk-block-tools g-3">
                                                <li>
                                                    <button data-bs-toggle="modal" data-bs-target="#ajouterProjetModal"
                                                            class="dropdown-toggle btn btn-primary btn-dim">
                                                        <em class="icon ni ni-plus"></em>
                                                        <span>
                                                            <span class="d-md-none">Add</span>
                                                            <span class="d-none d-md-block">Ajouter Projet</span>
                                                        </span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- .nk-block-head-content -->
                            </div><!-- .nk-block-between -->
                        </div><!-- .nk-block-head -->
                        <div class="nk-block">
                            <div class="row g-gs">
                                <div class="card card-preview">
                                    <div class="card-inner">
                                        <table class="datatable-init table">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nom</th>
                                                <th>Taux d'actualisation</th>
                                                <th>IS</th>
                                                <th>Durée</th>
                                                <th>VAN</th>
                                                <th>IP</th>
                                                <th>DRCI</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="projet : ${projets}">
                                                <td th:text="${projet.idProjet}"></td>
                                                <td  th:text="${projet.nom}"></td>
                                                <td  th:text="${projet.tauxActualisation}"></td>
                                                <td  th:text="${projet.impotSociete}"></td>
                                                <td  th:text="${projet.duree}"></td>
                                                <td  th:text="${projet.van}"></td>
                                                <td  th:text="${projet.ip}"></td>
                                                <td  th:text="${projet.drci}"></td>
                                            </tr>
                                            </tbody>
                                            <tfoot></tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- .row -->
                        </div><!-- .nk-block -->
                    </div>
                </div>
            </div>
            <!-- content @e -->
            <!-- footer @s -->
            <div th:replace="fragments/footer::footer"></div>
            <!-- footer @e -->
        </div>
        <!-- wrap @e -->
    </div>
    <!-- main @e -->
</div>
<!-- app-root @e -->
<!-- select region modal -->
<!-- JavaScript -->
<script type="text/javascript" th:src="@{/js/bundle.js}"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
<script type="text/javascript" th:src="@{/js/projets.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>


<div class="modal fade" id="ajouterProjetModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter un projet</h5>
                <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <form class="form-validate is-alter" id="AjouetProjetForm">

                    <div class="form-group">
                        <label class="form-label" for="nom">Le nom du projet</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" id="nom" name="nom" placeholder="Entrer le nom">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="duree">Durée</label>
                        <div class="form-control-wrap">
                            <input type="number" class="form-control" id="duree" name="duree" placeholder="Entrer la durée">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="impotSociete">Impot sur société</label>
                        <div class="form-control-wrap">
                            <input type="number" class="form-control" id="impotSociete" name="impotSociete" placeholder="Entrer l'IS">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="tauxActualisation">Le taux d'actualisation</label>
                        <div class="form-control-wrap">
                            <input type="number" class="form-control" id="tauxActualisation" name="tauxActualisation" placeholder="Entrer le taux d'actualisation">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="description">La description</label>
                        <div class="form-control-wrap">
                            <textarea class="form-control" id="description" name="description" placeholder="Entrer la description"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <button onclick="InsererProjet()" class="btn btn-lg btn-primary">Enregistrer les Informations</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>