<!-- sidebar @s -->
<div class="nk-sidebar is-light nk-sidebar-fixed is-light " data-content="sidebarMenu" th:fragment="sidebar">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-menu-trigger me-n2">
            <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em
                    class="icon ni ni-arrow-left"></em></a>
        </div>
    </div><!-- .nk-sidebar-element -->
    <div class="nk-sidebar-element">
        <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                    <li class="nk-menu-item">
                        <a href="/dashboard" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-grid"></em></span>
                            <span class="nk-menu-text">Dashboard</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="/projets" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-list-thumb"></em></span>
                            <span class="nk-menu-text">Mes Projets</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="/augmentation-bfr" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-chevron-up-round"></em></span>
                            <span class="nk-menu-text">Augmentation BFR</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="/investissement" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-money"></em></span>
                            <span class="nk-menu-text">Investissements</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="/ca" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-cc-alt2"></em></span>
                            <span class="nk-menu-text">Chiffre d'Affaires</span>
                        </a>
                    </li>

                    <li class="nk-menu-item">
                        <a href="/cv" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-coins"></em></span>
                            <span class="nk-menu-text">Charges Variables</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="/cf" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-coin-alt"></em></span>
                            <span class="nk-menu-text">Charges Fixes</span>
                        </a>
                    </li>

                </ul><!-- .nk-menu -->
            </div><!-- .nk-sidebar-menu -->
        </div><!-- .nk-sidebar-content -->
    </div><!-- .nk-sidebar-element -->
</div>
<!-- sidebar @e -->