<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" th:href="@{/css/dashlite.css}">
<title>Home</title>
</head>
<body>
<div class="nk-app-root">
<!-- main @s -->
<div class="nk-main ">
<div th:replace="layout/navbar :: navbar"></div>
<!-- wrap @s -->
<div class="nk-wrap ">
<div th:replace="layout/header :: header"></div>
<!-- content @s -->
<div class="nk-content nk-content-fluid">
<div class="container-xl wide-xl">
<div class="nk-content-body">
<div class="nk-block-head nk-block-head-sm">
<div class="nk-block-between">
<div class="nk-block-head-content">